@{
    ViewData["Title"] = "Gyógyszerek adatai";
}

<div class="text-center">
    <h1 class="display-4">Gyógyszerek adatai</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Név</th>
                <th>Hatóanyag</th>
                <th>Vényköteles</th>
                <th>Mintakép</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Gyogyszer gyogyszer in Model)
            {
                <tr>
                    <td><a asp-controller="Home" asp-action="Kezel" asp-route-gyogyszerId="@gyogyszer.Id">@gyogyszer.Nev</a></td>
                    <td>@gyogyszer.Hatoanyag</td>
                    <td><input type="checkbox" checked="@gyogyszer.Venykoteles" /></td>
                    <td><img src="~/imgs/@gyogyszer.Kepnev" height="50px"/></td>
                </tr>
            }
        </tbody>
    </table>
</div>
